@model SolutionPrincipale.Models.CreateEditEvenementVM
@using SolutionPrincipale.Extension;

@{
    ViewBag.Title = "Create";
}
<div class="container">
    <h2>Création d'un événement</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Evénement</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.CustomEditorFor(model => model.Evenement.Nom, "text")
            @Html.CustomEditorFor(model => model.Evenement.Description, "text")
            @Html.CustomEditorFor(model => model.Evenement.DebutEvenement, "datetime-local")
            @Html.CustomEditorFor(model => model.Evenement.DureeMinutes, "number")
            @Html.CustomEditorFor(model => model.Evenement.NbParticipants, "number")
            @Html.CustomEditorFor(model => model.Evenement.Adresse, "text")
            @Html.CustomEditorFor(model => model.Evenement.Ville, "text")
            @Html.CustomEditorFor(model => model.Evenement.CodePostal, "text")
            @Html.CustomDropdownListFor(model => model.Themes, model => model.IdSelectedThemes, Model.Themes.Select(r => new SelectListItem { Text = r.Nom, Value = r.Id.ToString() }), false)
            @Html.CustomButtonSubmit("Créer l'événement")
        </div>
    }

    <div>
        @Html.ActionLink("Retour à la liste des événements", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
