@model IEnumerable<BO.Evenement>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Liste des événements</h2>

    <p>
        @Html.ActionLink("Créer un événement", "Create", null, new { @class = "btn btn-default" })
    </p>
    <table class="table table-bordered table-striped">
        <caption>Liste des événements à venir</caption>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebutEvenement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinEvenement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbParticipants)
            </th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model.Where(p => p.DebutEvenement >= DateTime.Now))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DebutEvenement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinEvenement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NbParticipants)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    <table class="table table-bordered table-striped">
        <caption>Liste des événements passés</caption>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebutEvenement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinEvenement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbParticipants)
            </th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model.Where(p => p.DebutEvenement < DateTime.Now))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DebutEvenement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinEvenement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NbParticipants)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>