@model IEnumerable<BO.Evenement>
@using SolutionPrincipale.Extension

@{
    ViewBag.Title = "Index";
}

<div class="container">
    @if (Request.IsAuthenticated && User.IsInRole("Organisateur"))
    {
        <h2>Liste des événements</h2>

        <p>
            @Html.ActionLink("Créer un événement", "Create", null, new { @class = "btn btn-default" })
        </p>
        <table class="table table-bordered table-striped">
            <caption>Liste des événements à venir</caption>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DebutEvenement)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DureeMinutes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adresse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NbParticipants)
                </th>
                <th>Actions</th>
            </tr>

            @foreach (var item in Model.Where(p => p.DebutEvenement >= DateTime.Now))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DebutEvenement)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DureeMinutes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adresse)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NbParticipants)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
        <table class="table table-bordered table-striped">
            <caption>Liste des événements passés</caption>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DebutEvenement)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DureeMinutes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adresse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NbParticipants)
                </th>
                <th>Actions</th>
            </tr>

            @foreach (var item in Model.Where(p => p.DebutEvenement < DateTime.Now))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DebutEvenement)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DureeMinutes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adresse)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NbParticipants)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        @*<a href='@Url.Action("Edit", new {id=item.Id})'><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>*@
                        @* @Html.CustomIcone("Edit", "pencil") *@ |
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                        @*<a href='@Url.Action("Details", new {id=item.Id})'><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>*@
                        @* @Html.CustomIcone("Details", "search") *@ |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        @*<a href='@Url.Action("Delete", new {id=item.Id})'><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>*@
                        @*  @Html.CustomIcone("Delete", "trash") *@
                    </td>
                </tr>
            }

        </table>
    }
    else if (Request.IsAuthenticated && User.IsInRole("Convive"))
    {
        <h2>Liste des événements</h2>
        
        <table class="table table-bordered table-striped">
            <caption>Liste des événements à venir</caption>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DebutEvenement)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DureeMinutes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adresse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NbParticipants)
                </th>
                <th>Actions</th>
            </tr>

            @foreach (var item in Model.Where(p => p.DebutEvenement >= DateTime.Now))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DebutEvenement)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DureeMinutes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adresse)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NbParticipants)
                    </td>
                    <td>
                        @Html.ActionLink("Inscription", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
        <table class="table table-bordered table-striped">
            <caption>Liste de vos événements</caption>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DebutEvenement)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DureeMinutes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adresse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NbParticipants)
                </th>
                <th>Actions</th>
            </tr>

            @foreach (var item in Model.Where(p => p.DebutEvenement >= DateTime.Now))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DebutEvenement)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DureeMinutes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adresse)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NbParticipants)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    }
</div>