@model IEnumerable<BO.Theme>
@using SolutionPrincipale.Extension;

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Créer un thème", "Create", null, new { @class = "btn btn-default" })
    </p>
    <table class="table table-bordered table-striped">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nom)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nom)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>
                    @Html.CustomIcone(Url, item.Id, "Edit", "pencil")  |
                    @Html.CustomIcone(Url, item.Id, "Details", "search")  |
                    @Html.CustomIcone(Url, item.Id, "Delete", "trash")
                </td>
            </tr>
        }
    </table>
</div>